*,html,body {
    padding: 0;
    margin:0;
}


/*nav*/
.navbar {
    background-image:url(maxresdefaulttttt2.JPG);
    filter: brightness(1.1) contrast(1.0);
    height: 160px;
}

.nav_logo {
    margin-right: 50px;
    padding-left: 690px;
    padding-bottom: 70px;
    display: flex;
}

.navbar {
    display: flex;
}

.navigation {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 180px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
}

.navigation :hover {
    color: orange;
}

.navigation li> a{
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
    font-size: 20px;
    color: white
}

.home {
    text-decoration: none;
    list-style-type: none;
}

.active {
    background: #f8f8c6;
    align-items: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: orange !important;
    border-radius: 100px;
    border: 2px  solid orangered;
}

/*back*/
.tombol-back{
    list-style-type: none;
    text-align: none;
    background-image:linear-gradient(rgb(178,34,33),rgb(230, 46, 46),rgb(240, 53, 53));
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    height: 20px;
    width: 50px;
    align-items: center;
}

.tombol-back li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
}

.button {
 position: absolute;
 margin-top: 100px;
 margin-left: 1095px;
}

#cuplikan_movie{
    text-align: center;
     color: white;
}


#cuplikan_movie  hr{
    background-color: rgb(252, 250, 250);
    border-radius: 5px;
    margin-top: 3px;
    border: 1px solid white;
   
}

#cuplikan_movie h1 {
    padding-top: 10px;
    color: orangered;
      background-color: #1111;
}

#video-container >video{
    position:relative;
    margin-left: 125px;
    border: 2px solid orange;
    border-radius: 5px;
      background-color: #111;
}


#all {
    background-color: #111;
}

.tombol-back a:hover {
    color: black;
    transition: color .5s ease-in;
}